@model AboutModel

@{
    Layout = "_Layout";
    ViewData["Title"] = "About";
}

<h3 class="d-flex justify-content-center">О деканате</h3>
<div class="about-list">
    @foreach (var str in Model.Info.Split("<!>"))
    {
        <div class="grey2 about">@str</div>
    }
</div>
<hr style="margin-top: 0">
<h4 class="d-flex justify-content-center">Предоставляемые услуги:</h4>
<div class="about-list">
    @foreach (var item in Model.Servises)
    {
        <form method="post" name="ServRequest">
            <div name="form" class="form-panel">
                @Html.Hidden("name", @item.Name)
                @Html.Hidden("servId", @item.Id)
                @Html.Hidden("subdivisionServiceId", @item.SubdivisionServiceId)
                @Html.Hidden("formLink", @item.FormLink)
                <b class="form-panel-text">@item.Name</b>
                <label class="form-panel-text">@item.Info</label>
                @if (item.Availability)
                {
                    <button asp-action="RegService" class="btn" type="submit" style="margin: auto; width: 190px">Заполнить</button>
                }
                else
                {
                    <button asp-action="RegService" class="btn" type="submit" style="margin: auto; width: 190px" disabled>Заполнить</button>
                }
                <button asp-action="DownloadForm" class="btn" type="submit" style="margin: auto; width: 190px">Скачать бланк</button>
            </div>
            @*<button asp-action="ShowService" asp-controller="Students" class="form-panel about">"@item.Name"</button>*@
        </form>
        @*<div class="grey2 about">@Html.ActionLink(@item.Name, "Servise", "Students", new { servId = @item.Id, subdivisionServiceId = @item.SubdivisionServiceId, formLink= @item.FormLink}, null)</div>
    *@
    }
</div>