@model AboutModel

@{
    Layout = "_Layout";
    ViewData["Title"] = "About";
}

<h4 class="d-flex justify-content-center">О деканате</h4>

@foreach (var str in Model.Info.Split("<!>"))
{
    <p>@str</p>
}

<p>Предоставляемые услуги:</p>

<div name="servises">
    @foreach (var item in Model.Servises)
    {
        <p name="servise1">@Html.ActionLink(@item.Name, "Servise", "Students", new { servId = @item.Id, subdivisionServiceId = @item.SubdivisionServiceId}, null)</p>
    }
</div>