@using DocumentFormat.OpenXml.Packaging
@model ModelsData.StudentHomeModel

@{
    Layout = "_Layout";
    ViewData["Title"] = "Home";
}

<h2 class="d-flex justify-content-center">Главная страница</h2>
<div class="d-flex justify-content-center">
    @foreach (var sub in Model.Subdevisons)
    {
        <form method="post" name="ChoosingSubServise">
            <input name="Sub_id" value="@sub.Id" type="hidden"/>
            <input name="Info" value="@sub.Information" type="hidden"/>
            <input class="btn" type="submit" value="@sub.Name"/> 
        </form>
    }
</div>
<hr>
<h3 class="d-flex justify-content-center">Отправленные заявки</h3>
<div class="requests-list">
    @foreach (var req in Model.Requests)
    {
        <div class="grey2 d-flex align-items-center" style="color: black; width:100%;margin-left: 0">
            @{
                string NS = @req.FamylyNS != null ? $"№{@req.Id}, обрабатывает {@req.FamylyNS}": $"№{@req.Id}";
            }
            <div class="d-flex flex-grow-1 justify-content-start" style="flex-basis: 0;">@NS</div>
            <div class="d-block flex-grow-1 align-items-center" style="flex-basis: 0;">
                <div class="d-flex justify-content-center">@req.State</div>
                <div class="d-flex justify-content-center">@req.Caption</div>
            </div>
            <div class="d-flex flex-grow-1 align-items-center justify-content-end" style="flex-basis: 0;">@req.CreationDate</div>
        </div>
    }
</div>