@model ModelsData.StudentProfileModel

@{
    Layout = "_Layout";
    ViewData["Title"] = "Profile";
    
}

<h2 class="d-flex justify-content-center">Профиль</h2>

<div name="about_student" class="grey2 justify-content-center" style="padding: 30px 20px; margin: 0px 0px;">
    <div name="fio" class="stud_data">
        <div name="labelfio" class="grey1 label_stud_data">ФИО</div>
        <div name="fieldfio" class="grey2 field_stud_data">@Model.Family @Model.Name @Model.SecondName</div>
    </div>
    <div name="group" class="stud_data">
        <div name="labelgroup" class="grey1 label_stud_data">Группа</div>
        <div name="fieldgroup" class="grey2 field_stud_data">@Model.Group</div>
    </div>
    <div name="studnum" class="stud_data">
        <div name="labelstudnum" class="grey1 label_stud_data">Номер студенческого билета</div>
        <div name="fieldstudnum" class="grey2 field_stud_data">@Model.StudId</div>
    </div>
</div>