@model UserRegModel

@{
    Layout = "_Layout";
    ViewData["Title"] = "RegServise";
}

<h4 name="Serv_name" class="d-flex justify-content-center">@Model.Serv_name</h4>
<div name="form" class="login-form">
    <form method="post" name="auth" class="form-horizontal">
        <input name="Serv_id" value="@Model.Serv_id" type="hidden"/>
        <input name="Serv_name" value="@Model.Serv_name" type="hidden"/>
        <fieldset name="caption" class="form-group">
            <h5>Личная информация</h5>
        </fieldset>
        @foreach (var field in Model.Fields)
        {
            <fieldset name="FirstName" class="form-group">
                <label for="FirstName">@field.Key</label>
                <input name="Name" value="@field.Value.Value" readonly="readonly"/>
            </fieldset>
        }
        <fieldset class="form-group">
            <input type="submit" name="inwith" value="Отправить" class="btn"/>
        </fieldset>
    </form>
</div>