@model ModelsData.ServiseModel

@{
    Layout = "_Layout";
    ViewData["Title"] = "Servise";
}

<h4 name="NameOfServise" class="d-flex justify-content-center">@Model.Name</h4>

<div>
    <p>@Model.Info</p>
</div>

<div class="d-flex justify-content-between">
    <div name="RegService" class="btn">@Html.ActionLink("Запросить услугу", "RegService", 
                                           "Students", new { servId = @ViewData["id"], name = @Model.Name }, null)</div>
    <div name="DownloadBlank" class="btn"><a>Скачать бланк заявления</a></div>
</div>