@model ModelsData.ServiseModel

@{
    Layout = "_Layout";
    ViewData["Title"] = "Servise";
}

<h4 name="NameOfServise" class="d-flex justify-content-center">@Model.Name</h4>

<div>
    @foreach (var str in @Model.Info.Split("<!>"))
    {
        <p>@str</p>
    }
    
</div>

<div class="d-flex justify-content-between">
    <form method="post" name="ServRequest">
        <input name="Id" value="@Model.Id" type="hidden"/>
        <input name="Name" value="@Model.Name" type="hidden"/>
        <input name="RegService" value="Запросить услугу" class="btn" type="submit"/>
    </form>
    <form asp-action="DownloadForm" method="post" name="DownloadForm">
        <input name="nameService" value="@Model.Name" type="hidden"/>
        <input name="formLink" value="@Model.FormLink" type="hidden"/>
        <input name="DownloadForm" value="Скачать бланк заявления" class="btn" type="submit"/>
    </form>
</div>
