@model RequestGeneratorModel

@{
    Layout = "_LayoutEmployees";
    ViewData["Title"] = "RequestGenerator";
}

<header style="height:50px">

</header>

<div name="id" class="stud_data id">
    <div name="labelID" class="grey1 label_stud_data">ID заявки</div>
    <div name="fieldID" class="grey2 field_stud_data">@Model.Req_id</div>
</div>

<div name="about_student" class="grey2" style="margin: 0 0 20px 0; padding: 30px 20px">
    <div name="fio" class="stud_data">
            <div name="labelfio" class="grey1 label_stud_data">ФИО</div>
            <div name="fieldfio" class="grey2 field_stud_data">@Model.Name</div>
        </div>
        <div name="group" class="stud_data">
            <div name="labelgroup" class="grey1 label_stud_data">Группа</div>
            <div name="fieldgroup" class="grey2 field_stud_data">@Model.Group</div>
        </div>
        <div name="studnum" class="stud_data">
            <div name="labelstudnum" class="grey1 label_stud_data">ID студента</div>
            <div name="fieldstudnum" class="grey2 field_stud_data">@Model.StudId</div>
        </div>
</div>

<div name="about" class="grey2" style="margin: 0px 0px 20px 0px; padding: 30px 20px">
    @foreach(var field in Model.Fields)
    {
        <div class="stud_data">
            <div name="label" class="grey1 label_stud_data">@field.Name</div>
            <div name="field" class="grey2 field_stud_data">@field.Value</div>
        </div>
    }
    
</div>

<div name="buttons" class="request_buttons">
    <form method="post" name="GoToDownloadGeneration" class="d-flex justify-content-center">
        <input name="Type" value="DownloadGeneration", type="hidden"/>
        <input name="Req_Id" value="@Model.Req_id", type="hidden"/>
        <input name="btn" class="btn" type="submit" value="Предпросмотр"/>
    </form>
    <form method="post" name="GoToDownloadGeneration" class="d-flex justify-content-center">
        <input name="Type" value="ChangeStatus", type="hidden"/>
        <input name="Req_Id" value="@Model.Req_id", type="hidden"/>
        <input name="btn" class="btn shit" type="submit" value="Изменить статус заявки"/>
    </form>
</div>
