@model List<ModelsData.RequestModel>

@{
    Layout = "_LayoutEmployees";
    ViewData["Title"] = "Home";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@* <div class="d-flex"> *@
@*     <form method="post" name="ChooseRequest"> *@
@*         <input name="Type" value="ServiceConstructor" type="hidden"/> *@
@*         <input name="button" class="btn" type="submit" value="Конструктор услуг"/> *@
@*     </form> *@
@*     <div name="ServiceCollection" class="btn left-margin"><a asp-area="" asp-controller="Employees" asp-action="ServiceList">Список услуг</a></div> *@
@* </div> *@

<div name="SearchFilter">
    <form method="post" style="margin-bottom: 20px;">
        <input name="Type" value="Filter" type="hidden"/>
        <fieldset name="search" style="margin-top: 20px;">
            <label for="status">Фильтр заявок:</label>
            <select name="Status">
                <option value="">Выбрать статус заявки</option>
                <option value="not processed">Необработанные</option>
                <option value="processing">В работе</option>
                <option value="processed">Обработанные</option>
                <option value="closed">Закрытые</option>
            </select>
            <input type="text" name="Number" placeholder="Поиск по номеру заявки"/>
            <input type="text" name="Family" placeholder="Поиск по фамилии студента"/>
        </fieldset>

        <fieldset name="buttons">
            <button class="btn" type="submit">Применить</button>
        </fieldset>
    </form>
</div>

<div name="Services" class="services" style="background-color: #f5f5f5;">
    @foreach (var req in Model)
     {
         <form method="post" name="ChooseRequest" class="d-flex justify-content-center" >
             <input name="Type" value="ChooseRequest" type="hidden"/>
             <input name="Id" value="@req.Id" type="hidden"/>
             @* <input class="service d-flex" style="color: black; width:100%; background-color: #d3d3d3" type="submit" value="@req.Id @req.Caption @req.FamylyNS @req.CreationDate"/> *@
             <button type="submit" class="service d-flex grey2 align-items-center" style="color: black; width:100%; background-color: #d3d3d3; margin-left: 0">
                 <div class="d-flex flex-grow-1 justify-content-start" style="flex-basis: 0;">№@req.Id от @req.FamylyNS</div>
                 <div class="d-block flex-grow-1 align-items-center" style="flex-basis: 0;">
                     <div class="d-flex justify-content-center">@req.State</div>
                     <div class="d-flex justify-content-center">@req.Caption</div>
                 </div>
                 <div class="d-flex flex-grow-1 align-items-center justify-content-end" style="flex-basis: 0;">@req.CreationDate</div>
             </button>
         </form>
    }
</div> 